/* =====================================================
   CARDS STYLES - NETTALCO DESIGN SYSTEM
   ===================================================== */

/* ===== PRIMENG CARDS BASE ===== */
.p-card {
  border-radius: 8px !important;
  box-shadow: 0 2px 4px rgba(28, 34, 77, 0.08) !important;
  border: 1px solid var(--color-light-gray) !important;
  background: var(--color-white) !important;
  overflow: hidden !important;
}

/* Header base - aplica a todas las cards */
.p-card .p-card-header {
  padding: 0rem 1rem !important;
  border-bottom: none !important;
}

.p-card-modified .p-card-body {
  padding: 0rem !important;
}

/* Footer base - aplica a todas las cards */
.p-card .p-card-footer {
  padding: 0rem 1rem !important;
  border-top: 1px solid var(--color-light-gray) !important;
  color: var(--texto-content-color) !important;
}


/* ===== CARD MODIFIED ===== */
.p-card-modified .p-card-header {
  background: linear-gradient(135deg, var(--color-blue-light), var(--color-navy-dark)) !important;
  color: var(--color-white) !important;
  border-radius: 8px 8px 0 0 !important;
}

.p-card-modified .p-card-footer {
  background: var(--color-gray-light) !important;
}
